<?xml version="1.0"?>

<!--
 * @author      Andreas Knollmann
 * @copyright   2014-2025 Softwareentwicklung Andreas Knollmann
 * @license     http://www.opensource.org/licenses/mit-license.php MIT
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Infrangible_CatalogProductOptionRelation::infrangible_catalogproductoptionrelation" title="Product Option Relation" module="Infrangible_CatalogProductOptionRelation" sortOrder="1080" resource="Infrangible_CatalogProductOptionRelation::infrangible_catalogproductoptionrelation" parent="Infrangible_Foundation::menu"/>
        <add id="Infrangible_CatalogProductOptionRelation::infrangible_catalogproductoptionrelation_manage" title="Manage" module="Infrangible_CatalogProductOptionRelation" sortOrder="10" resource="Infrangible_CatalogProductOptionRelation::infrangible_catalogproductoptionrelation" parent="Infrangible_CatalogProductOptionRelation::infrangible_catalogproductoptionrelation" action="product_option_relation"/>
    </menu>
</config>
